NEW_RELEASE=
PREVIOUS_RELEASE=
CLONE_URL=


SSH_HOST=35.xxx.222.xxx
SSH_USER=ubuntu
SSH_SECRET_KEY_PATH="~/.ssh/key-pair"


WEBHOOK_SECRET=xxxxxxx
GITHUB_TOKEN=ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx

EMAIL_RESEND_KEY=re_7fDB5hbt_xxxxxxxxxxxxxxxxx


APP_URL=https://api.xxxxx.in
SERVER_URL=https://cicdserver.xxxxx.in


WILL_ROLLBACK=true
WILL_CHECK_HEALTH=true